{% extends 'base.html' %} {% block content %}

<div class="about_page">
    <div class="Contact_body">
        <!-- page image -->
        <header id="page-header">
            <div class="col-md-6 m-auto text-center text-light">
                <h1>Contact Us</h1>
                <p class="lead">Anybody Can Give Blood.
                    <br>"Tears Of A Mother Cannot Save Her Child. But Your Blood Can."</p>

                <p>Md. Monirul Islam</p>
                <p>University of global village</p>
                <p>
                    <p style="background-color: green;">project group Member List: Monirul islam ,Mizan, Aysha Khatun, Adi Nill Tonoy, Hafsa</p>
                </p>


            </div>
        </header>


    </div>
</div>


{% endblock %}