{% extends 'home_base.html' %} {% block content %}


<!--1st post -->
<div>
    <h2 style="color: red; text-align: center; margin: 50px;"><u>SOME INSTRUCTIONS PRIOR BLOOD DONATION:</u></h2>
    <div style="margin-left:100px;">
        <li value="1">Do not donate blood on an empty stomach.</li>
        <li>Maintain a gap of 30 min after meal.</li>
        <li>Good sleep on the previous night.</li>
        <li>Drink water (2 glass) before blood donation</li>
        <li>Do not donate blood if you have fever, taking antibiotics or aspirin or antihistamine or insulin.</li>
        <li>Do not take alcohol 24hrs prior blood donation</li>
        <li>Do not smoke 30 min before or after blood donation.</li>
        <li>Avoid driving, vigorous exercise or playing tennis for at least 2-3hrs after blood donation.</li>
    </div>
    <!-- post for image -->

</div>

<!--2st post -->
<div>
    <h2 style="color: red; text-align: center; margin: 50px;"><u>SOME INSTRUCTIONS AFTER BLOOD DONATION: </u></h2>
    <div style="margin-left:100px;">
        <li value="1">Eat and Drink something before leaving the blood donor area.</li>
        <li>Drink more fluid for next 4 hours.</li>
        <li>If there is bleeding from phlebotomy site raise arm and apply pressure to the site.</li>
        <li>If fainting or dizziness occur either lie down or sit with the head between the knees.</li>
        <li>If the symptom persist either telephone or returns to the blood bank or see a doctor.</li>
        <li>Resume all normal activity if asymptomatic.</li>
        <li>Remove bandage after 1 hour.</li>
    </div>
    <!-- post for image -->
</div>
{% endblock %}